@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: oklch(0.985 0.001 106.423);
	--color-gray-100: oklch(0.97 0.001 106.424);
	--color-gray-200: oklch(0.923 0.003 48.717);
	--color-gray-300: oklch(0.869 0.005 56.366);
	--color-gray-400: oklch(0.709 0.01 56.259);
	--color-gray-500: oklch(0.553 0.013 58.071);
	--color-gray-600: oklch(0.444 0.011 73.639);
	--color-gray-700: oklch(0.374 0.01 67.558);
	--color-gray-800: oklch(0.268 0.007 34.298);
	--color-gray-900: oklch(0.216 0.006 56.043);
	--color-gray-950: oklch(0.147 0.004 49.25);

	--color-primary-50: oklch(0.987 0.022 95.277);
	--color-primary-100: oklch(0.962 0.059 95.617);
	--color-primary-200: oklch(0.924 0.12 95.746);
	--color-primary-300: oklch(0.879 0.169 91.605);
	--color-primary-400: oklch(0.828 0.189 84.429);
	--color-primary-500: oklch(0.769 0.188 70.08);
	--color-primary-600: oklch(0.666 0.179 58.318);
	--color-primary-700: oklch(0.555 0.163 48.998);
	--color-primary-800: oklch(0.473 0.137 46.201);
	--color-primary-900: oklch(0.414 0.112 45.904);
	--color-primary-950: oklch(0.279 0.077 45.635);

	--color-secondary-50: oklch(97% 0.015 30);
	--color-secondary-100: oklch(92% 0.02 30);
	--color-secondary-200: oklch(86% 0.03 30);
	--color-secondary-300: oklch(80% 0.04 30);
	--color-secondary-400: oklch(74% 0.05 30);
	--color-secondary-500: oklch(68% 0.06 30);
	--color-secondary-600: oklch(60% 0.07 30);
	--color-secondary-700: oklch(52% 0.08 30);
	--color-secondary-800: oklch(40% 0.09 30);
	--color-secondary-900: oklch(30% 0.1 30);
	--color-secondary-950: oklch(20% 0.11 30);

	--font-body: "Inter", sans-serif;
	--font-display: "Newsreader", serif;
	--font-mono: "JetBrains Mono", monospace;

	--color-brand-green: #009045;
	--color-brand-green-hover: #007a3a;
	--color-brand-dark: #121212;
	--color-bg-beige: #EAEAE8;
	--color-bg-card: #F3F3F1;
	
	--color-accent-orange: #F97316;
	--color-accent-pink: #EC4899;
	--color-accent-yellow: #EAB308;
}
